$FontSSP: "Source Sans Pro", sans-serif;
$FontHind: "Hind", sans-serif;
$FontFresca: "Fresca", sans-serif;

$FontSize: (
  "small": 14px,
  "normal": 18px,
  "big": 28px,
  "huge": 40px,
);

$background-img: url(../img/4.jpg) no-repeat top;

// $toursImg
$block-img-one: url(../img/5.jpeg);
$block-img-two: url(../img/6.jpg);
$block-img-three: url(../img/7.jpg);

$ColorH1: #c1d1df;
$ColorNav: #4e2846;
$ColorH3: #9f86a2;
$ColorTour: #693966;
$ColorReviews1: #8a6f8d;
$ColorReviews2: #caa2cb;
$ColorForm: #9f86a2;
$ColorFormTitle: #4e2846;
$ColorFormInput: #757583;
$ColorFormBorder: #31262c; 
$ColorFooter: #5d3d85;
$ColorFooterH3: #b965fe;
$ColorFooterText: #4F0A6E;
$ColorFooterLi: #7e46de;
